@model GCMS.WEB.ViewModels.LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 col-xl-4">
            <div class="text-center my-5">
                <img src="~/images/gcms_logo.png" />
            </div>
            <div class="card shadow">
                <div class="card-header text-center">
                    <h3>Login</h3>
                </div>

                <div class="card-body">

                    <form id="loginForm"  method="post">
                        <div asp-validation-summary="ModelOnly"
                             class="text-danger mb-3">
                        </div>
                        <div class="mb-3">
                            <label>User Name</label>
                            <input asp-for="UserName"
                                   class="form-control" />
                            <span asp-validation-for="UserName"
                                  class="text-danger">
                            </span>
                        </div>

                        <div class="mb-3">
                            <label>Password</label>
                            <div class="input-group">
                                <input asp-for="Password"
                                       type="password"
                                       id="password"
                                       class="form-control" />

                                <span class="input-group-text"
                                      id="togglePassword"
                                      style="cursor:pointer;">
                                    <i class="bi bi-eye"></i>
                                </span>
                            </div>
                            <span asp-validation-for="Password"
                                  class="text-danger">
                            </span>
                        </div>

                        <button type="submit" id="btnLogin"
                                class="btn btn-primary w-100">
                            Login
                            <div id="loader" style="display:none;">
                                <div class="loader-content">
                                    <div class="spinner-border text-dark"></div>
                                </div>
                            </div>
                        </button>
                       
                       
                    </form>

                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger my-3">
                            @TempData["Error"]
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>

@if (TempData["Error"] != null)
{
    <div class="toast-container position-fixed bottom-0 end-0 p-3">

        <div id="loginToast"
             class="toast text-bg-danger"
             role="alert">

            <div class="toast-header">
                <strong class="me-auto">
                    Login Failed
                </strong>

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="toast">
                </button>
            </div>

            <div class="toast-body">
                @TempData["Error"]
            </div>

        </div>

    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {

            $("#btnLogin").click(function () {
               
                var userName = $("#UserName").val();
                var password = $("#Password").val();

                if (userName === "" || password === "") {
                    //alert("Please enter Username and Password");
                    return;
                }

                $("#loader").css("display", "flex");

                $.ajax({
                    url: '@Url.Action("Login", "Account")',
                    type: 'POST',

                    data: {
                        UserName: userName,
                        Password: password
                    },

                    success: function (response) {

                        $("#loader").hide();

                        if (response.success) {

                            window.location.href =
                                response.redirectUrl;

                        } else {

                            showToast(response.message);

                        }
                    },

                    error: function () {

                        $("#loader").hide();

                        showToast(
                            "Something went wrong.");
                    }
                });
            });

        });
    </script>
}


